<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>400554224855-1vnfiucmfiimulsr9vkcgja7gl72hiaf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.400554224855-1vnfiucmfiimulsr9vkcgja7gl72hiaf</string>
	<key>API_KEY</key>
	<string>AIzaSyDyErbfHP-QOB7PqJGQQdh10QkRxtQkl24</string>
	<key>GCM_SENDER_ID</key>
	<string>400554224855</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hmz.folio</string>
	<key>PROJECT_ID</key>
	<string>mohamed-portfolio-a37de</string>
	<key>STORAGE_BUCKET</key>
	<string>mohamed-portfolio-a37de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:400554224855:ios:3f33e56b6382032e7f1492</string>
</dict>
</plist>